<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Cosmos" />
    <meta name="keywords" content="Videograph, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>COSMOS</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="/static/css/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/static/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/static/css/elegant-icons.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/static/css/owl.carousel.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/static/css/magnific-popup.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/static/css/slicknav.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />

    <style>
      body {
        background: #100028;
        margin: 0;
        padding: 0;
        font-family: "Play", sans-serif;
        color: #fff;
      }

      /* Add this style for better mobile experience */
      .container {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
      }

      /* Add this style to make the header more responsive */
      .header__nav__option {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .dropdown-container {
        padding-top: 50px;
        position: relative;
        display: inline-block;
        text-align: center;
        color: aliceblue;
        font-size: 20px;
        font-weight: 600;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        text-align: left;
        z-index: 1;
        background-color: #fff;
        width: 200px;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.866);
        border-radius: 4px;
      }

      .dropdown-content a {
        color: #333;
        padding: 12px 16px;
        display: block;
        text-decoration: none;
      }

      .dropdown-content a:hover {
        background-color: rgb(142, 109, 232);
      }

      .dropdown-container.active .dropdown-content {
        display: block;
      }

      .form-section {
        display: none;
      }
      .form-section.active {
        display: block;
      }
      .fresult{
        color: #fff;
        font-size: 20px;
        font-weight: 600;
      }

      /* Add media queries for better responsiveness */
      @media only screen and (max-width: 768px) {
        .header__nav__menu {
          display: none;
        }

        .header__nav__social {
          display: none;
        }

        #mobile-menu-wrap {
          display: block;
        }

        .header__nav__option {
          flex-direction: column;
        }
      }
    </style>
  </head>

  
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/static/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                              <li class="active">
                                <a href="{{ url_for('home') }}">Home</a>
                              </li>
                              <li>
                                <a href="{{ url_for('explore', sec='explore') }}">Explore</a>
                                <ul class="dropdown">
                                  <li>
                                    <a href="{{ url_for('explore',sec='from_section5') }}"
                                      >Habitability</a
                                    >
                                  </li>
                                  <li>
                                    <a href="{{ url_for('explore',sec='from_section1') }}"
                                      >Radial Velocity</a
                                    >
                                  </li>
                                  <li>
                                    <a href="{{ url_for('explore' ,sec='from_section2') }}"
                                      >Transit Method</a
                                    >
                                  </li>
                                  <li>
                                    <a href="{{ url_for('explore',sec='from_section3') }}"
                                      >Direct Imaging</a
                                    >
                                  </li>
                                  <li>
                                    <a href="{{ url_for('explore',sec='from_section4') }}"
                                      >Biosignature</a
                                    >
                                  </li>
                                </ul>
                              </li>
                              <li><a href="{{ url_for('home') }}">About</a></li>
                              <li><a href="{{ url_for('home') }}">Galaxy</a></li>
                              <li><a href="{{ url_for('solar') }}">Solar System</a></li>
                              <li><a href="{{ url_for('contact') }}">Contact</a></li>
                            </ul>
                          </nav>
                        <div class="header__nav__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option spad set-bg" data-setbg="/static/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Contact us</h2>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Contact</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Widget Section Begin -->
    <section class="contact-widget spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-md-6 col-md-3">
                    <div class="contact__widget__item">
                        <div class="contact__widget__item__icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="contact__widget__item__text">
                            <h4>Address</h4>
                            <p>Durg, Chhattisgarh</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-md-6 col-md-3">
                    <!-- <div class="contact__widget__item">
                        <div class="contact__widget__item__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="contact__widget__item__text">
                            <h4>Hotline</h4>
                            <p>1-677-124-44227 • 1-688-356-66889</p>
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-4 col-md-6 col-md-6 col-md-3">
                    <div class="contact__widget__item">
                        <div class="contact__widget__item__icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="contact__widget__item__text">
                            <h4>Email</h4>
                            <p>rahsps01@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Widget Section End -->

    <!-- Call To Action Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__map">
                        <!-- <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2798902705!2d-74.25986790365917!3d40.697670067823786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1596152431947!5m2!1sen!2sbd"
                            height="450" style="border:0;"></iframe> -->
                            <img src="/static/img/r.png" alt="get" style="height: 450;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
                        <h3>Get in touch</h3>
                        <form action="#">
                            <input type="text" placeholder="Name">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Website">
                            <textarea placeholder="Message"></textarea>
                            <button type="submit" class="site-btn">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__logo">
                            <a href="#"><img src="/static/img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__option">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer__option__item">
                            <h5>About us</h5>
                            <p>Formed in 2023 by Rohan, Hemani & Akshat</p>
                            <a href="#" class="read__more">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__option__item">
                            <h5>Who we are</h5>
                            <ul>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Carrers</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Locations</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__option__item">
                            <h5>Our work</h5>
                            <ul>
                                <li><a href="#">Exoplanet Detection</a></li>
                                <li><a href="#">Analyzing Biosignature</a></li>
                                <li><a href="#">Habitability Prediction</a></li>
                                <li><a href="#">Reports and Summaries</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="footer__option__item">
                            <h5>Reach Us</h5>
                            <p><b>Exploring the Cosmos, One Exoplanet at a Time.</b></p>
                            <form action="#">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="footer__copyright__text">Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            Cosmos | All rights reserved
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/mixitup.min.js"></script>
    <script src="/static/js/masonry.pkgd.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>



















